replicaCount: 2
image:
  repository: weatherappacr.azurecr.io/weather-app
  tag: v1
  pullPolicy: IfNotPresent

service:
  name: weather-app
  type: NodePort
  port: 80
  nodePort: 30080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi