trigger:
  branches:
    include:
      - main

pool:
  name: Default  

variables:
  acrName: weatherappacr
  imageName: weather-app
  resourceGroup: azurecicd
  aksCluster: weatherapp-aks
  namespace: weather
  chartName: weather-chart
  chartVersion: 0.1.0

stages:

# ----- CI: Build and Push Docker Image -----
- stage: Build
  jobs:
    - job: DockerBuild
      steps:
        - checkout: self
          displayName: 'Checkout source code'

        - task: AzureCLI@2
          inputs:
            azureSubscription: 'weather-app-azure-conn'  # my Azure service connection
            scriptType: bash
            scriptLocation: inlineScript
            inlineScript: |
              az acr login --name $(acrName)
              docker build -t $(imageName):latest .
              docker tag $(imageName):latest $(acrName).azurecr.io/$(imageName):latest
              docker push $(acrName).azurecr.io/$(imageName):latest
          displayName: 'Build and Push Docker image to ACR'

# ----- CD: Package Helm Chart and Deploy to AKS -----
- stage: Deploy
  dependsOn: Build
  jobs:
    - job: HelmDeploy
      steps:
        - checkout: self
          displayName: 'Checkout source code'

        - task: HelmInstaller@1
          inputs:
            helmVersionToInstall: 'latest'

        - script: |
            cd weather-chart
            helm lint .
            helm package . --version $(chartVersion)
            mkdir -p $(Build.ArtifactStagingDirectory)/charts
            mv *.tgz $(Build.ArtifactStagingDirectory)/charts/
          displayName: "Package Helm chart"

        - publish: $(Build.ArtifactStagingDirectory)/charts
          artifact: helm-chart

        - task: AzureCLI@2
          inputs:
            azureSubscription: 'azurecicd'
            scriptType: bash
            scriptLocation: inlineScript
            inlineScript: |
              az aks get-credentials --resource-group $(resourceGroup) --name $(aksCluster)
              chmod +x ./script.sh
              ./script.sh $(chartVersion) $(namespace) $(chartName) $(acrName).azurecr.io
          displayName: "Deploy Helm chart to AKS"

